<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Curso de Symfony</title>
</head>
<body>
<h1>Olá {{ nome }} {{ sobrenome }}</h1>
<p>Sua idade é {{ idade }}</p>
<p>Seu sexo é {{ sexo }}</p>
</body>
</html>