<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Run Carro</title>
</head>
<body>
<h1>Configurando o ambiente</h1>
<p>Fase 1 do Projeto</p>
<p>Marca do Carro é: {{ marca }}</p>
<p>Modelo do Carro é: {{ modelo }} </p>
</body>
</html>